{% extends 'data_show/base.html' %}

{% block title %}Index page{% endblock %}

{% block contain %}
    {% for club in club_names %}
        <div class="club-card">
            <a class="photo" href="{{ club.logo.url }}" style="background-image: url({{ club.logo.url }})"></a>
            <div class="details">
                <h3 class="headline"><a href="{% url 'club detail' club.name %}">{{ club.name }}</a></h3>
                <hr>
                <h5>{{ club.club_head }}</h5>
                <ul class="contact">
                    {% if club.club_head.telephone %}
                        <li>
                            <i class="fa fa-phone"></i>
                            {{ club.club_head.telephone }}
                        </li>
                    {% endif %}
                    {% if club.club_head.email %}
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:{{ club.club_head.email }}" target="_blank">{{ club.club_head.email }}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="source">
                    <a class="text-center" href="{{ club.source }}" target="_blank">
                        <i class="fa fa-vk" style="line-height: 32px"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block menu %}{% endblock %}