{% extends 'data_show/base_card.html' %}

{% block title %}Test page{% endblock %}

{% block card %}
    <div class="club-card">
        <div class="details">
            <h3 class="headline">{{ student.full_name }}</h3>
            <hr>
            <ul class="contact">
                <li>
                    <i class="fa fa-phone"></i>
                    {{ student.telephone }}
                </li>
                <li>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:{{ student.email }}" target="_blank">{{ student.email }}</a>
                </li>
            </ul>
            <div class="source">
                {% for source in student.get_contacts %}
                    <a class="text-center" href="{{ source.url }}" target="_blank">
                        <i class="fa fa-{{ source.name|lower }}" style="line-height: 32px"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock card %}